In [8]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [9]:
ebola_data_db_format=pd.read_csv('ebola_data_db_format.csv')

In [10]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic',
 'anagrams',
 'anagrams',
 'anscombe',
 'anscombe',
 'attention',
 'attention',
 'brain_networks',
 'brain_networks',
 'car_crashes',
 'car_crashes',
 'diamonds',
 'diamonds',
 'dots',
 'dots',
 'dowjones',
 'dowjones',
 'exercise',
 'exercise',
 'flights',
 'flights',
 'fmri',
 'fmri',
 'geyser',
 'geyser',
 'glue',
 'glue',
 'healthexp',
 'healthexp',
 'iris',
 'iris',
 'mpg',
 'mpg',
 'penguins',
 'penguins',
 'planets',
 'planets',
 'seaice',
 'seaice',
 'taxis',
 'taxis',
 'tips',
 'tips',
 'titanic',
 'titanic',
 'anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [11]:
ebola_data_db_format.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17585 entries, 0 to 17584
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Indicator  17585 non-null  object
 1   Country    17585 non-null  object
 2   Date       17585 non-null  object
 3   value      17585 non-null  float64
dtypes: float64(1), object(3)
memory usage: 549.7+ KB

In [12]:
ebola_data_db_format=sns.load_dataset('ebola_data_db_format')

ValueError: 'ebola_data_db_format' is not one of the example datasets.

In [13]:
ebola_data_db_format.head()

,Indicator,Country,Date,value
0,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,3285.0
1,Cumulative number of confirmed Ebola cases,Guinea,2015-03-10,2871.0
2,Cumulative number of probable Ebola cases,Guinea,2015-03-10,392.0
3,Cumulative number of suspected Ebola cases,Guinea,2015-03-10,22.0
4,"Cumulative number of confirmed, probable and s...",Guinea,2015-03-10,2170.0

In [16]:
ebola_data_db_format['Country'].value_counts()

Country
Sierra Leone                2303
Nigeria                     2124
Guinea                      2086
Senegal                     2081
United States of America    1932
Spain                       1924
Liberia                     1540
Mali                        1234
United Kingdom              1107
Italy                        708
Liberia 2                    536
Guinea 2                      10
Name: count, dtype: int64

In [17]:
ebola_data_db_format.isnull().sum()

Indicator    0
Country      0
Date         0
value        0
dtype: int64

In [18]:
ebola_data_db_format['Date'].fillna(ebola_data_db_format['Date'].median(),inplace=True )

TypeError: could not convert string to float: '2015-03-10'

In [19]:
ebola_data_db_format['Date']

0        2015-03-10
1        2015-03-10
2        2015-03-10
3        2015-03-10
4        2015-03-10
            ...
17580    2016-03-23
17581    2016-03-23
17582    2016-03-23
17583    2016-03-23
17584    2016-03-23
Name: Date, Length: 17585, dtype: object